h1 {
  margin-top: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 96px;
}

body {
  background-image: url(image/bg.png);
}

#buttons ul i {
  opacity: 0.4;
  transition: 0.4s;
}

#about {  
  font-family: 'Source Sans Pro', sans-serif;
}

#buttons ul i:hover {
  opacity: 1;
  cursor: pointer;
}

ul {
	margin-top: 40px;
  padding-left: 0px;
  margin-bottom: 0;
  cursor: default;
}

#back {
  position: absolute;
  margin: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: 1s;
  opacity: .25;
  background-size: 100%;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  position: relative;
}

a {
  text-decoration: none;
}